extends layout

block content
    h1= user_id

    img(src="#{data.profile_pic}", style="float:left; height:100px; margin-right:20px")

    ul
        li
            b Last Name :&nbsp;
            span= data.last_name
        li 
            b First Name :&nbsp;
            span= data.first_name
        li 
            b Gender :&nbsp;
            span= data.gender
        li 
            b Locale :&nbsp;
            span= data.locale

    br 
    br 
    
    table.table.table-bordered
        tr
            td 
                b Date
            td 
                b Message


        each message in messages
            tr
                td= moment(message.timestamp).format("YYYY-MM-DD HH:mm:ss")
                td= message.message.text